*{
    border: 0px;
    margin: 0px;
    top: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home{
    height: 100vh;
    width: 100%;
    background-image:url(assets/test.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header{
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
}
header tr td{
    padding-left: 40px;
}
header td:hover{
    cursor: pointer;
}
header table tr a{
    text-decoration: none;
    color: white;
}
.about{
    position: absolute;
    top: 8%;
    display: none;
}
.about img{
    width: 100%;
    border-radius: 20px;
}

.logo{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: logoanimation;
    animation-duration: 2s;
}
@keyframes logoanimation {
    0% {
        transform: translate(-50%, 60%); 
    }
    100% {
        transform: translate(-50%, -50%); 
    }
}
.logo img{
    height: 340px;
    width: 340px;
}

.lionphoto{
    top: 50px;
    position: absolute;
    right: 0px;
    animation-name: lionanimation;
    animation-duration: 2s;
}
@keyframes lionanimation{
    0%{
        transform:translateX(100%);
    }
    100%{
        top: 50px;
        right: 0px;
    }
}
.lionphoto img{
    height: 640px;
    width: 585px;
}
.intro{
    position: absolute;
    top: 55%;
    left: 50px;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 600px;
    animation-name: introanimation;
    animation-duration: 2s;
}
@keyframes introanimation{
    0%{
        transform:translateX(-110%);
    }
    100%{
        top: 55%;
        left: 50px;
    }
}
.intro h1{
    font-size: 35px;
    color: white;
    padding-bottom: 20px;
}
.intro p{
    color: white;
    padding-bottom: 20px;
}
.register{
    display: grid;
    align-content: center;
    justify-content: center;
}
table{
     margin-left: auto;
     margin-right: auto;
}

table tr td button{
    padding:10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgba(15, 151, 0, 0.7);
}
table tr td button a{
    text-decoration: none;
    color: white;
}
tr button:hover{
    cursor: pointer;
}

@media (max-width: 1024px) {
    

    .logo img {
        height: 260px;
        width: 260px;
        margin-bottom: 87px;
    }

    .lionphoto img {
        height: 480px;
        margin-top: 155px;
        width: 400px;
    }

    .intro {
        top: 50%;
        left: 30px;
        width: 400px;
    }

    .intro h1 {
        font-size: 30px;
    }

    .intro p {
        font-size: 14px;
    }

    table tr td button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .about img {
        height: 400px;
        width: 80%;
    }
}

/* Adjust for mobile phones */
@media (max-width: 768px) {
    header table tr td {
        padding-left: 20px;
    }

    .logo img {
        height: 200px;
        width: 200px;
        margin-bottom: 165px;
    }

    .lionphoto img {
        height: 360px;
        width: 300px;
        margin-top: 110px;
    }

    .intro {
        top: 50%;
        left: 20px;
        width: 300px;
    }

    .intro h1 {
        font-size: 25px;
        margin-top: -10px;
    }

    .intro p {
        font-size: 12px;
    }

    table tr td button {
        padding: 6px 12px;
        font-size: 12px;
    }

    .about img {
        height: 300px;
        width: 90%;
    }
}

/* Adjust for very small devices */
@media (max-width: 480px) {
    header table {
        font-size: 13px;
    }

    .logo img {
        height: 150px;
        width: 150px;
        margin-bottom: 160px;
    }
    .lionphoto{
        margin-top: 70%;
    }

    .lionphoto img {
        height: 200px;
        width: 170px;
    }

    .intro {
        width: 250px;
        position: absolute;
        top: 40%;
        left: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
        animation-name: introanimation1;
        animation-duration: 2s;
    }

    .intro h1 {
        font-size: 20px;
        margin-bottom: 3px;
        margin-top: -9px;
    }

    .intro p {
        font-size: 10px;
    }

    @keyframes introanimation1{
        0%{
            transform:translateX(-110%);
        }
        100%{
            top: 40%;
            left: 20px;
        }
    }

    table tr td button {
        padding: 4px 8px;
        font-size: 10px;
    }

    .about img {
        display: block;
        margin: 0 auto; 
        height: auto; 
        max-width: 100%; 
    }
}
@media (max-width: 320px) {
    header table {
        font-size: 10px;
    }

    .logo img {
        height: 136px;
        width: 164px;
        margin-bottom: 195px;
    }

    .lionphoto img {
        height: 228px;
        width: 203px;
        margin-top: 110px;
    }

    .intro {
        top: 44%;
        left: 13px;
        width: 257px;
    }

    .intro h1 {
        font-size: 20px;
        font-size: 20px;
        margin-top: 24%;
    }

    .intro p {
        font-size: 10px;
    }

    table tr td button {
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 10px;
    }
    .about img {
        height: 250px;
        width: 80%;
    }
}